@mixin container($width, $height, $bg) {
	position: relative;
	width: $width;
	height: $height;
	background-color: $bg;
}

.mode-container {
	@include container(250px, 300px, rgb(200,200,250));
	float: left;
	& > p {
		/* stats p-tag */
		margin-top: 10px;
		font-size: 18px;
		color: black;
	}
	& li {
		color: black;
		padding: 5px;
		text-align: left;
	}
}

.history-container {
	@include container(250px, 300px, rgb(100,100,100));
	float: right;
	& > p {
		/* history p-tag */
		margin-top: 10px;
		font-size: 18px;
		color: white;
	}
	& li {
		color: rgb(200,200,200);
		padding: 5px;
		text-align: left;
	}
}

.normal-result-container {
	@include container(240px, 350px, black);
    margin: 30px auto auto auto;
    background-size: 240px 350px;
    background-repeat: no-repeat;
}

.scroll-result-container {
	@include container(400px, 80px, rgb(50, 50, 50))
	margin: 30px auto auto auto;
}

.chest-button {
	position: relative;
	margin-top: 30px;
}