.mode-container {
  position: relative;
  width: 300px;
  height: auto;
  background-color: #c8c8fa;
  float: left; }

.mode-container > p {
  /* stats p-tag */
  margin: 10px 10px;
  font-size: 18px;
  color: black; }

.mode-container li {
  color: black;
  padding: 5px;
  text-align: left; }

.history-container {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: #646464;
  float: right; }

.history-container > p {
  /* history p-tag */
  margin-top: 10px;
  font-size: 18px;
  color: white; }

.history-container li {
  color: #c8c8c8;
  padding: 5px;
  text-align: left; }

.normal-result-container {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: darkblue;
  margin: 30px auto auto auto;
  background-size: 240px 350px;
  background-repeat: no-repeat; }

.scroll-container {
  position: relative;
  width: 400px;
  height: 80px;
  background-color: #323232;
  margin: 30px auto auto auto; }

.chest-button,
.chest-button-scroll {
  position: relative;
  margin-top: 30px; }

.scroll-result {
  position: relative;
  width: auto;
  height: 100%;
  background-color: yellow;
  overflow: hidden;
  box-shadow: 0 0 3px 3px black; }

.scroll-result > ul {
  position: absolute;
  width: auto;
  height: 80px;
  background-color: gray; }

.scroll-result > ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 80px;
  height: 80px; }

.scroll-result > ul > li > span {
  font-size: 74px; }

.color-code {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  border: 1px solid black;
  margin: 2px 7px 0 2px; }

.orange {
  background-color: orange; }

.blue {
  background-color: blue; }

.aquamarine {
  background-color: aquamarine; }

.purple {
  background-color: purple; }

.silver {
  background-color: silver; }

.red {
  background-color: red; }

.graph-container {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: green;
  margin-top: 150px; }

.graph-container > h1 {
  font-size: 40px;
  color: white; }

.graph-container #graph {
  margin: 25px auto 0 auto;
  width: 1000px; }

.footer-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: black; }

.chest-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black; }

.chest-container,
.chest-container div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: 3s; }

.chest-container > .chest-background {
  position: absolute;
  top: 170px;
  left: 70px;
  background-color: black;
  width: 200px;
  height: 130px;
  z-index: 1;
  border: 5px solid gold; }

.chest-container > .chest-bottom {
  position: absolute;
  top: 200px;
  left: 70px;
  background-color: black;
  width: 200px;
  height: 100px;
  z-index: 3;
  border: 5px solid gold; }

.chest-container > .chest-light {
  position: absolute;
  top: 210px;
  left: 0;
  background-color: gold;
  width: 90px;
  height: 0;
  z-index: 2;
  right: 0;
  margin: auto;
  background-color: gold; }

.chest-container > .chest-light.width-increase {
  width: 150px; }

.chest-container > .chest-top {
  position: absolute;
  top: 150px;
  left: 70px;
  background-color: black;
  width: 200px;
  height: 50px;
  z-index: 3;
  border: 5px solid gold;
  border-radius: 10px 10px 0 0; }

.chest-container > .chest-top.open {
  transform: rotateX(75deg); }

.chest-container > .chest-top > .chest-lock {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -16px;
  margin: auto;
  background-color: black;
  border: 5px solid gold;
  border-radius: 5px;
  width: 16px;
  height: 30px; }
