.mode-container {
  position: relative;
  width: 250px;
  height: auto;
  background-color: #c8c8fa;
  float: left; }

.mode-container > p {
  /* stats p-tag */
  margin-top: 10px;
  font-size: 18px;
  color: black; }

.mode-container li {
  color: black;
  padding: 5px;
  text-align: left; }

.history-container {
  position: relative;
  width: 250px;
  height: 500px;
  background-color: #646464;
  float: right; }

.history-container > p {
  /* history p-tag */
  margin-top: 10px;
  font-size: 18px;
  color: white; }

.history-container li {
  color: #c8c8c8;
  padding: 5px;
  text-align: left; }

.normal-result-container {
  position: relative;
  width: 240px;
  height: 350px;
  background-color: black;
  margin: 30px auto auto auto;
  background-size: 240px 350px;
  background-repeat: no-repeat; }

.scroll-container {
  position: relative;
  width: 400px;
  height: 80px;
  background-color: #323232;
  margin: 30px auto auto auto; }

.chest-button {
  position: relative;
  margin-top: 30px; }

.scroll-result {
  position: relative;
  width: auto;
  height: 100%;
  background-color: yellow;
  overflow: hidden; }

.scroll-result > ul {
  position: absolute;
  width: auto;
  height: 80px;
  background-color: gray; }

.scroll-result > ul > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 80px;
  height: 80px;
  border: orange 3px solid;
  box-shadow: inset 0px 0px 25px 3px orange; }

.scroll-result > ul > li > span {
  color: orange;
  font-size: 74px; }

.color-code {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: transparent;
  float: left;
  border: 1px solid black;
  margin: 2px 7px 0 2px; }

.orange {
  background-color: orange; }

.blue {
  background-color: blue; }

.aquamarine {
  background-color: aquamarine; }

.purple {
  background-color: purple; }

.silver {
  background-color: silver; }

.red {
  background-color: red; }
