@mixin container($width, $height, $bg) {
    position: relative;
    width: $width;
    height: $height;
    background-color: $bg;
}

@mixin box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mode-container {
    @include container(300px, auto, rgb(200, 200, 250));
    float: left;
    & > p {
        /* stats p-tag */
        margin: 10px 10px;
        font-size: 18px;
        color: black;
    }
    & li {
        color: black;
        padding: 5px;
        text-align: left;
    }
}

.history-container {
    @include container(300px, 500px, rgb(100, 100, 100));
    float: right;
    & > p {
        /* history p-tag */
        margin-top: 10px;
        font-size: 18px;
        color: white;
    }
    & li {
        color: rgb(200, 200, 200);
        padding: 5px;
        text-align: left;
    }
}

.normal-result-container {
    @include container(350px, 350px, darkblue);
    margin: 30px auto auto auto;
    background-size: 240px 350px;
    background-repeat: no-repeat;
}

.scroll-container {
    @include container(400px, 80px, rgb(50, 50, 50)) margin: 30px auto auto auto;
}

.chest-button,
.chest-button-scroll {
    position: relative;
    margin-top: 30px;
}

.scroll-result {
    @include container(auto, 100%, yellow);
    overflow: hidden;
    box-shadow: 0 0 3px 3px black;
    & > ul {
        position: absolute;
        width: auto;
        height: 80px;
        background-color: gray;
        & > li {
            @include box-sizing();
            float: left;
            width: 80px;
            height: 80px;
            & > span {
                font-size: 74px;
            }
        }
    }
}

.color-code {
    @include container (12px, 12px, transparent) @include box-sizing();
    float: left;
    border: 1px solid black;
    margin: 2px 7px 0 2px;
}

$colors-list: orange blue aquamarine purple silver red;
@each $color in $colors-list {
    .#{$color} {
        background-color: $color;
    }
}

.graph-container {
    @include container (100%, 600px, green);
    margin-top: 150px;
    & > h1 {
        font-size: 40px;
        color: white;
    }
    #graph {
        margin: 25px auto 0 auto;
        width: 1000px
    }
}

.footer-container {
    @include container (100%, 100px, black);
}

.chest-container {
    @include container (100%, 100%, white);
    @include box-sizing();
    & div {
        @include box-sizing();
    }
}
