<div class="chest-container">
    <div class="chest-background" ng-style="{'border-color': gold}"></div>
    <div class="chest-top" ng-class="{'open': getGiftData('chestIsOpen')}" ng-style="{'border-color': gold}">
        <div class="chest-lock"></div>
    </div>
    <div class="chest-light" ng-style="{'box-shadow': '0 0 60px 30px ' + getGiftData('skinColor')}" ng-class="{'width-increase': getGiftData('chestIsOpen')}"></div>
    <div class="chest-bottom" ng-style="{'border-color': gold}">
    </div>
</div>
