<div class="mode-container">
	<p>Stats</p>
	<ul>
		<li>Chests Opened: {{chestsOpened}}</li>
		<li>Dollars Spent: {{dollarSpent | currency}}</li>
		<li>RP Spent: {{rpSpent}}</li>
		<li>RP Gained: {{rpGained}}</li>
		<li>Dollars Return: {{dollarReturn | currency}}</li>
	</ul>
</div>
<div class="history-container">
	<p>History</p>
	<ul>
		<li ng-repeat="skin in skinHistory | limitTo: -10">
			{{$index + 1}} - {{skin}}
		</li>
	</ul>
</div>
<div class="result-container" ng-style="{'background-image':'url('+image+')'}"></div>
<button class="chest-button" ng-click="openSkin()">Button</button>
