<div class="full-history-container" ng-show="displayFull">
    <h1>Full History</h1>
    <ul>
        <li ng-repeat="skin in skinHistory">
            <span class="left-float">{{$index+1}}) {{skin.champ}} </span>
            <span class="center">{{skin.name}}</span>
            <span class="right-float">{{skin.price}}RP</span>
        </li>
    </ul>
</div>
<!-- Mode Container -->
<div class="mode-container">
    <p class="bold-info">Stats</p>
    <ul>
        <li>Chests Opened: {{statistics.chestsOpened}}</li>
        <li>Dollars Spent: {{statistics.dollarSpent | currency}}</li>
        <li>Dollars Gained: {{statistics.dollarGained | currency}}</li>
        <li>RP Spent: {{statistics.rpSpent}}</li>
        <li>RP Gained: {{statistics.rpGained}}</li>
        <li>Net Profit: {{statistics.dollarReturn | currency}}</li>
    </ul>
    <!-- Gift Type -->
    <p class="bold-info">Gift Type</p>
    <button class="global-button" ng-click="changeMode('normal')" ng-class="{'button-active': getGiftData('currentMode') === 'normal'}">Normal</button>
    <button class="global-button" ng-click="changeMode('chest')" ng-class="{'button-active': getGiftData('currentMode') === 'chest'}">Chest</button>
    <!-- Legendary Promo -->
    <p class="bold-info">Legendary Promo</p>
    <button class="global-button" ng-click="enablePromo()" ng-class="{'button-active': getGiftData('legendaryPromo')}">Legendary</button>
    <!-- Animation Type -->
    <p class="bold-info">Animation Type</p>
    <button class="global-button" ng-click="animation = 'normal'" ng-class="{'button-active': animation === 'normal'}">Normal</button>
    <button class="global-button" ng-click="animation = 'scroll'" ng-class="{'button-active': animation === 'scroll'}">Scroll</button>
    <!-- Bonus Stats -->
    <p class="bold-info">Bonus Stats</p>
    <ul>
        <li><span class="color-code orange"></span> 520RP - {{typeCount['520RP']}} Skins - Odds: {{getStatData('probabilities')['520RP'].probability | number: 3}}%</li>
        <li><span class="color-code blue"></span> 750RP - {{typeCount['750RP']}} Skins - Odds: {{getStatData('probabilities')['750RP'].probability | number: 3}}%</li>
        <li><span class="color-code aquamarine"></span> 975RP - {{typeCount['975RP']}} Skins - Odds: {{getStatData('probabilities')['975RP'].probability | number: 3}}%</li>
        <li><span class="color-code purple"></span> 1350RP - {{typeCount['1350RP']}} Skins - Odds: {{getStatData('probabilities')['1350RP'].probability | number: 3}}%</li>
        <li><span class="color-code silver"></span> 1820RP - {{typeCount['1820RP']}} Skins - Odds: {{getStatData('probabilities')['1820RP'].probability | number: 3}}%</li>
        <li><span class="color-code red"></span> 3250RP - {{typeCount['3250RP']}} Skins - Odds: {{getStatData('probabilities')['3250RP'].probability | number: 4}}%</li>
        <li class="bold-info">Average value of next skin: {{getStatData('average') | number: 2}}RP</li>
    </ul>
</div>
<!-- History Container -->
<div class="history-container">
    <p>History</p>
    <ul>
        <li ng-repeat="skin in skinHistory | limitTo: 20">
            {{$index + 1}} - {{skin.name}} ({{skin.price}}rp)
        </li>
    </ul>
    <span ng-click="displayFull = !displayFull">View Full History</span>
</div>
<!-- Result Container -->
<div class="normal-result-container">
    <!-- Image container -->
    <div class="image-container" ng-show="getGiftData('displaySkin')">
        <img ng-src="{{getGiftData('skinImage')}}">
        <span>{{skinHistory[0].name}}</span>
        <button class="global-button" ng-click="closeChest()">Close</button>
    </div>
    <!-- TEMP QUICK BUTTON -->
    <button class="global-button quick-button" ng-click="toggleQuick()" ng-class="{'button-active': getGiftData('quickOpening')}">Quick Opening</button>
    <!-- chest.html -->
    <div ng-include="'/views/chest.html'" ng-hide="animation === 'scroll'"></div>
    <!-- Open Button -->
    <button class="chest-button" ng-click="openSkin()" ng-hide="(animation === 'scroll' || getGiftData('chestIsOpen')) && !getGiftData('quickOpening')">Open</button>
    <!-- Scroll Directive -->
    <div class="scroll-container" ng-hide="animation === 'normal'">
        <gift-animation></gift-animation>
    </div>
</div>
<!-- Graph Container -->
<div class="graph-container">
    <h1>Graph Stats</h1>
    <graph-generator></graph-generator>
</div>
<!-- Footer Container -->
<div class="footer-container">
</div>
