.mode-container {
  position: relative;
  width: 300px;
  height: 580px;
  background-color: #026794;
  float: left;
  border: 2px solid black; }
  .mode-container > p {
    /* stats p-tag */
    margin: 10px 10px;
    font-size: 18px;
    color: black; }
  .mode-container li {
    color: black;
    padding: 5px;
    text-align: left; }

.history-container {
  position: relative;
  width: 300px;
  height: 580px;
  background-color: #026794;
  float: right;
  border: 2px solid black; }
  .history-container > p {
    /* history p-tag */
    margin-top: 10px;
    font-size: 18px;
    color: white; }
  .history-container li {
    color: #c8c8c8;
    padding: 5px;
    text-align: left; }
  .history-container > span {
    position: absolute;
    margin: auto;
    width: auto;
    height: auto;
    top: auto;
    bottom: 10;
    left: 0;
    right: 0;
    color: white;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer; }

.full-history-container {
  position: absolute;
  margin: auto;
  width: 400px;
  height: 500px;
  top: 40px;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 5;
  border: 2px solid #2196F3;
  background-color: #026794;
  overflow-y: auto;
  overflow-x: hidden; }
  .full-history-container > h1 {
    margin: 10px 0;
    color: white;
    font-size: 24px; }
  .full-history-container > ul {
    width: 350px;
    height: 90%;
    margin: auto;
    background-color: #026794; }
    .full-history-container > ul > li {
      font-size: 16px;
      margin: 5px 0;
      text-align: left;
      color: white; }
      .full-history-container > ul > li > span {
        position: relative;
        display: inline-block; }
      .full-history-container > ul > li .left-float {
        width: 35%; }
      .full-history-container > ul > li .center {
        margin-left: -4px;
        width: 50%; }
      .full-history-container > ul > li .right-float {
        text-align: right;
        margin-left: -4px;
        width: 15%; }

.normal-result-container {
  position: relative;
  width: 450px;
  height: 400px;
  background-color: #003A54;
  margin: 30px auto auto auto; }

.scroll-container {
  position: relative;
  width: 400px;
  height: 80px;
  background-color: #323232;
  margin: 30px auto auto auto;
  top: 150px; }

.chest-button,
.chest-button-scroll {
  position: relative;
  margin-top: 30px; }

.scroll-result {
  position: relative;
  width: auto;
  height: 100%;
  background-color: yellow;
  overflow: hidden;
  box-shadow: 0 0 3px 3px black; }
  .scroll-result > ul {
    position: absolute;
    width: auto;
    height: 80px;
    background-color: gray; }
    .scroll-result > ul > li {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 80px;
      height: 80px; }
      .scroll-result > ul > li > span {
        font-size: 74px; }

.color-code {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  border: 1px solid black;
  margin: 2px 7px 0 2px; }

.orange {
  background-color: orange; }

.blue {
  background-color: blue; }

.aquamarine {
  background-color: aquamarine; }

.purple {
  background-color: purple; }

.silver {
  background-color: silver; }

.red {
  background-color: red; }

.graph-container {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #003A54;
  margin-top: 150px;
  border-top: 2px solid black; }
  .graph-container > h1 {
    font-size: 40px;
    color: white; }
  .graph-container #graph {
    margin: 25px auto 0 auto;
    width: 1000px; }

.footer-container {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: black; }

.chest-container {
  position: relative;
  width: 200px;
  height: 100%;
  background-color: #003A54;
  margin: auto; }
  .chest-container,
  .chest-container div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: 3s; }
  .chest-container > .chest-background {
    position: absolute;
    top: 170px;
    left: 0;
    background-color: black;
    width: 200px;
    height: 130px;
    z-index: 1;
    border: 5px solid gold; }
  .chest-container > .chest-bottom {
    position: absolute;
    top: 200px;
    left: 0;
    background-color: black;
    width: 200px;
    height: 100px;
    z-index: 3;
    border: 5px solid gold; }
  .chest-container > .chest-light {
    position: absolute;
    top: 210px;
    left: 0;
    background-color: gold;
    width: 90px;
    height: 0;
    z-index: 2;
    right: 0;
    margin: auto;
    background-color: gold; }
    .chest-container > .chest-light.width-increase {
      width: 150px; }
  .chest-container > .chest-top {
    position: absolute;
    top: 150px;
    left: 0;
    background-color: black;
    width: 200px;
    height: 50px;
    z-index: 4;
    border: 5px solid gold;
    border-radius: 10px 10px 0 0; }
    .chest-container > .chest-top.open {
      transform: rotateX(75deg); }
    .chest-container > .chest-top > .chest-lock {
      position: absolute;
      margin: auto;
      width: 16px;
      height: 30px;
      top: auto;
      bottom: -16px;
      left: 0;
      right: 0;
      background-color: black;
      border: 5px solid gold;
      border-radius: 5px; }

.image-container {
  position: absolute;
  margin: auto;
  width: 300px;
  height: 450px;
  top: auto;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: #026794;
  border: 2px solid #2196F3;
  box-shadow: 0 0 5px 3px #024C6D;
  z-index: 5; }
  .image-container > div {
    position: relative;
    width: 270px;
    height: 390px;
    margin: auto;
    margin-top: 15px;
    background-size: 270px 390px;
    background-repeat: no-repeat; }
    .image-container > div > span {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      font-size: 20px;
      color: white; }
  .image-container > button {
    margin: 12px; }
