// Import Base Scss File
@import "base";
// -----------
.mode-container {
    @include container(300px, 580px, $palette-3);
    float: left;
    border: 2px solid black;
    & > p {
        /* stats p-tag */
        margin: 10px 10px;
        font-size: 18px;
        color: black;
    }
    & li {
        color: black;
        padding: 5px;
        text-align: left;
    }
}

.history-container {
    @include container(300px, 580px, $palette-3);
    float: right;
    border: 2px solid black;
    & > p {
        /* history p-tag */
        margin-top: 10px;
        font-size: 18px;
        color: white;
    }
    & li {
        color: rgb(200, 200, 200);
        padding: 5px;
        text-align: left;
    }
    & > span {
        position: absolute;
        bottom: 10px;
        right: 0;
        left: 0;
        margin: auto;
        color: white;
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
    }
}


.full-history-container {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: $palette-3;
    z-index: 5;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    border: 2px solid #2196F3;
    overflow-y: auto;
    overflow-x: hidden;

    & > h1 {
        color: white;
        font-size: 24px;
        margin: 10px 0;
    }
    & > ul {
        background-color: $palette-3;
        width: 350px;
        height: 90%;
        margin: auto;

        & > li {
            font-size: 16px;
            margin: 5px 0;
            text-align: left;
            color: white;
            & .left-float {
                position: relative;
                width: 35%;
                display: inline-block;
            }
            & .center {
                margin-left: -4px;
                position: relative;
                width: 50%;
                display: inline-block;
            }
            & .right-float {
                text-align: right;
                margin-left: -4px;
                position: relative;
                width: 15%;
                display: inline-block;
            }
        }
    }
}

.normal-result-container {
    @include container(450px, 400px, $palette-1);
    margin: 30px auto auto auto;
}

.scroll-container {
    @include container(400px, 80px, rgb(50, 50, 50));
    margin: 30px auto auto auto;
    top: 150px;
}

.chest-button,
.chest-button-scroll {
    position: relative;
    margin-top: 30px;
}

.scroll-result {
    @include container(auto, 100%, yellow);
    overflow: hidden;
    box-shadow: 0 0 3px 3px black;
    & > ul {
        position: absolute;
        width: auto;
        height: 80px;
        background-color: gray;
        & > li {
            @include box-sizing();
            float: left;
            width: 80px;
            height: 80px;
            & > span {
                font-size: 74px;
            }
        }
    }
}

.color-code {
    @include container (12px, 12px, transparent) @include box-sizing();
    float: left;
    border: 1px solid black;
    margin: 2px 7px 0 2px;
}

$colors-list: orange blue aquamarine purple silver red;
@each $color in $colors-list {
    .#{$color} {
        background-color: $color;
    }
}

.graph-container {
    @include container (100%, 600px, $palette-1);
    margin-top: 150px;
    border-top: 2px solid black;
    & > h1 {
        font-size: 40px;
        color: white;
    }
    #graph {
        margin: 25px auto 0 auto;
        width: 1000px
    }
}

.footer-container {
    @include container (100%, 100px, black);
}

.chest-container {
    @include container (200px, 100%, $palette-1);
    margin: auto;
    &,
    & div {
        @include box-sizing();
        transition: 3s;
    }
    & > .chest-background {
        @include chest-piece (170px, 0, black, 200px, 130px);
        z-index: 1;
        border: 5px solid gold;
    }
    & > .chest-bottom {
        @include chest-piece (200px, 0, black, 200px, 100px);
        z-index: 3;
        border: 5px solid gold;
    }
    & > .chest-light {
        @include chest-piece (210px, 0, gold, 90px, 0);
        z-index: 2;
        right: 0;
        margin: auto;
        background-color: gold;
        &.width-increase {
            width: 150px;
        }
    }
    & > .chest-top {
        @include chest-piece (150px, 0, black, 200px, 50px);
        z-index: 4;
        border: 5px solid gold;
        border-radius: 10px 10px 0 0;
        &.open {
            transform: rotateX(75deg);
        }
        & > .chest-lock {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -16px;
            margin: auto;
            background-color: black;
            border: 5px solid gold;
            border-radius: 5px;
            width: 16px;
            height: 30px;
        }
    }
}

.image-container {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 450px;
    background-color: $palette-3;
    border: 2px solid #2196F3;
    box-shadow: 0 0 5px 3px #024C6D;
    z-index: 5;
    & > div {
        position: relative;
        width: 270px;
        height: 390px;
        margin: auto;
        margin-top: 15px;
        background-size: 270px 390px;
        background-repeat: no-repeat;
        & > span {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            font-size: 20px;
            color: white;
        }
    }
    & > button {
        margin: 12px;
    }
}
